@charset "UTF-8";
/* Main properties that control the layout direction are:
-----------------------------------------------
- Direction (LTR/RTL)
- Float (left/right)
- Margin 
- Padding
- Absolute position (left/right)
- Background position (left/right)
- Border
- Border radious
- Note: "Think about flexbox properties"
*/
/* Clearfix */
/* Direction */
/* Float */
/* Margin */
/* Padding */
/* Left And Right For Absolute Position */
/* Border */
html[lang=en] .select2-container .select2-selection--single, .select2-container html[lang=en] .select2-selection--single {
  justify-content: flex-start !important;
}
html[lang=ar] .select2-container .select2-selection--single, .select2-container html[lang=ar] .select2-selection--single {
  justify-content: flex-end !important;
}

html[lang=en] .rotateArrow {
  transform: rotate(180deg);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "project-font";
  src: url("../../fonts/NotoKufiArabic-Regular.ttf");
}
body {
  padding: 0;
  margin: 0;
  font-family: "project-font";
  font-size: 12px;
}
html[lang=en] body {
  direction: ltr;
  text-align: left;
}
html[lang=ar] body {
  direction: rtl;
  text-align: right;
}

.main_color {
  color: #0b737f !important;
}

.main_gray {
  color: #e5e5e5;
}

.text_gray {
  color: #989898;
}

.f-11 {
  font-size: 11px;
}

.f-12 {
  font-size: 12px;
}

.f-13 {
  font-size: 13px;
}

.f-14 {
  font-size: 14px;
}

.f-15 {
  font-size: 15px;
}

.f-10 {
  font-size: 10px;
}

.f-20 {
  font-size: 20px;
}

.f-30 {
  font-size: 30px;
}

.f-40 {
  font-size: 40px;
}

.f-50 {
  font-size: 50px;
}

.f-60 {
  font-size: 60px;
}

.f-70 {
  font-size: 70px;
}

.f-80 {
  font-size: 80px;
}

.f-90 {
  font-size: 90px;
}

.f-100 {
  font-size: 100px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.padding-40 {
  padding: 40px;
}

.padding-50 {
  padding: 50px;
}

.margin-10 {
  margin: 10px;
}

.margin-20 {
  margin: 20px;
}

.margin-30 {
  margin: 30px;
}

.margin-40 {
  margin: 40px;
}

.margin-50 {
  margin: 50px;
}

.m-start-5 {
  margin-inline-start: 5px;
}

.m-start-10 {
  margin-inline-start: 10px;
}

.m-start-15 {
  margin-inline-start: 15px;
}

.m-start-20 {
  margin-inline-start: 20px;
}

.m-start-25 {
  margin-inline-start: 25px;
}

.m-start-30 {
  margin-inline-start: 30px;
}

.m-start-35 {
  margin-inline-start: 35px;
}

.m-end-5 {
  margin-inline-end: 5px;
}

.m-end-10 {
  margin-inline-end: 10px;
}

.m-end-15 {
  margin-inline-end: 15px;
}

.m-end-20 {
  margin-inline-end: 20px;
}

.m-end-25 {
  margin-inline-end: 25px;
}

.m-end-30 {
  margin-inline-end: 30px;
}

.m-end-35 {
  margin-inline-end: 35px;
}

.p-end-5 {
  padding-inline-end: 5px;
}

.p-end-10 {
  padding-inline-end: 10px;
}

.p-end-15 {
  padding-inline-end: 15px;
}

.p-end-20 {
  padding-inline-end: 20px;
}

.p-end-25 {
  padding-inline-end: 25px;
}

.p-end-30 {
  padding-inline-end: 30px;
}

.p-end-35 {
  padding-inline-end: 35px;
}

.p-start-5 {
  padding-inline-start: 5px;
}

.p-start-10 {
  padding-inline-start: 10px;
}

.p-start-15 {
  padding-inline-start: 15px;
}

.p-start-20 {
  padding-inline-start: 20px;
}

.p-start-25 {
  padding-inline-start: 25px;
}

.p-start-30 {
  padding-inline-start: 30px;
}

.p-start-35 {
  padding-inline-start: 35px;
}

.rad-5 {
  border-radius: 5px;
}

.rad-10 {
  border-radius: 10px;
}

.rad-15 {
  border-radius: 15px;
}

.rad-20 {
  border-radius: 20px;
}

.rad-25 {
  border-radius: 25px;
}

.rad-30 {
  border-radius: 30px;
}

.rad-35 {
  border-radius: 35px;
}

.rad-40 {
  border-radius: 40px;
}

.rad-45 {
  border-radius: 45px;
}

.rad-50 {
  border-radius: 50px;
}

.rad-5 {
  border-radius: 5px;
}

.rad-10 {
  border-radius: 10px;
}

.rad-15 {
  border-radius: 15px;
}

.rad-20 {
  border-radius: 20px;
}

.rad-25 {
  border-radius: 25px;
}

.rad-30 {
  border-radius: 30px;
}

.rad-35 {
  border-radius: 35px;
}

.rad-50 {
  border-radius: 50%;
}

.font-bold {
  font-weight: bold;
}

.font-bolder {
  font-weight: bolder;
}

textarea {
  resize: none;
}

textarea:focus-visible {
  outline: 1px solid var(--main);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-20 {
  gap: 20px;
}

.gap-25 {
  gap: 25px;
}

.gap-30 {
  gap: 30px;
}

.s-space {
  margin: 30px 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

i {
  line-height: unset !important;
}

a,
ul,
button,
i,
label {
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

label,
.dropdown-toggle,
button,
a,
i {
  cursor: pointer;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.half-width {
  width: 50% !important;
}

.text-underline {
  text-decoration: underline;
}

.b_radius_0 {
  border-radius: unset;
}

.w-fitContent {
  width: -moz-fit-content;
  width: fit-content;
}

.w-90 {
  width: 90% !important;
}

.form-control:focus {
  box-shadow: unset;
}

.btn:focus {
  box-shadow: unset !important;
}

a:focus,
a:hover {
  text-decoration: none;
}

.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: unset;
  top: 50%;
  width: 20px;
  transform: translateY(-50%);
}
html[lang=en] .select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 10px;
}
html[lang=ar] .select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 10px;
}

.select2-container--default .select2-selection--single {
  display: flex;
  justify-content: end;
  align-items: center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-right: unset;
}

.main_color {
  color: #0b737f;
}

.owl-carousel {
  direction: ltr;
}

button:focus {
  outline: unset !important;
  box-shadow: unset !important;
}

.cursor_poninter {
  cursor: pointer;
}

.settingImg {
  width: 200px;
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.shadow2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sm_shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.main_btn {
  background-color: #0b737f;
  border: 1px solid #0b737f;
  border-radius: 7px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: inherit;
  padding: 10px 0;
}
.main_btn:hover {
  color: #fff !important;
}

.transparent_btn {
  background-color: #fff;
  color: #0b737f;
}
.transparent_btn:hover {
  color: #0b737f !important;
}

.main_btn.sm {
  width: 100px;
}

.lg_btn {
  width: 180px;
}

.logo {
  max-width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Products_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;
  gap: 25px;
  flex-wrap: wrap;
}

.menuBar,
.closeMenu {
  display: none;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
}

.closeMenu:hover {
  transform: rotate(-360deg);
}

@media (max-width: 768px) {
  .Products_nav {
    position: fixed;
    justify-content: unset !important;
    width: 100%;
    height: 100%;
    z-index: 100000;
    flex-direction: column;
    top: 0;
    padding: 50px 0 !important;
    transform: translateX(100%);
    transition: all 0.7s ease-in-out;
    gap: 15px;
    flex-wrap: nowrap;
    overflow: auto;
  }
  .Products_nav.active {
    transform: translateX(0);
  }
  .menuBar,
  .closeMenu {
    display: block;
    max-width: 30px;
  }
  .closeMenu {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  .dropdown-toggle::after {
    top: 8px;
  }
  .gap-sm-10 {
    gap: 10px !important;
  }
}
.filter_icon {
  position: absolute;
  top: 12px;
  color: #a9a5a5;
  cursor: pointer;
}
html[lang=en] .filter_icon {
  right: 20px;
}
html[lang=ar] .filter_icon {
  left: 20px;
}

.searchInput {
  flex-grow: 1;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #0b737f;
}
@media (min-width: 991px) {
  .searchInput {
    width: 500px;
  }
}

@media (max-width: 991px) {
  .flex-md-grow {
    flex-grow: 1;
  }
}
.searchInput:focus {
  border: 1px solid #0b737f;
}

.circle_link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0b737f;
  color: #0b737f;
  font-size: 16px;
  font-size: 18px;
  padding: 18px;
}

.circle_link.double {
  border-width: 2px;
}

.containNum {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -3px;
  background-color: #c40000;
  color: #fff;
  font-size: 8px;
}
html[lang=en] .containNum {
  left: -6px;
}
html[lang=ar] .containNum {
  right: -6px;
}

.dropdown-toggle.headerDropdown {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: #0b737f;
  white-space: nowrap;
  position: relative;
}

.dropdown-menu.show {
  width: -moz-fit-content !important;
  width: fit-content !important;
  min-width: 150px;
  padding: 0;
  border: unset;
  border-radius: 10px;
  overflow: auto;
  border: 1px solid #0b737f;
  left: unset;
  right: 0 !important;
  top: 5px !important;
}

.userDropdown .dropdown-menu.show {
  left: unset;
  top: 5px !important;
  right: 28px !important;
}

.dropdown-item {
  color: #0b737f;
  border-bottom: 1px solid #e2dfdf;
  padding: 5px 1.5rem !important;
}
@media (max-width: 768px) {
  .dropdown-item {
    border-bottom: unset !important;
  }
}
.dropdown-item:hover {
  color: #0b737f !important;
}
.dropdown-item:focus, .dropdown-item:hover {
  text-decoration: none;
  background-color: transparent;
}

.dropdown-toggle.lanf::after {
  left: 0;
}

.checkboxShape {
  border: 1px solid #0b737f;
  color: transparent;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
  line-height: 19px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.checkbox:checked + .checkboxShape {
  background-color: #0b737f;
  color: #fff;
}

.dynamicParent {
  position: relative;
  margin: 5px;
}
.dynamicParent .delImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 5px;
  left: 5px;
}
.dynamicParent:hover .delImg {
  font-size: 30px;
  color: red;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
}

.select2-container--default .select2-selection--single {
  padding: 20px 10px;
}

.dropdown-toggle::after {
  position: absolute;
}
html[lang=en] .dropdown-toggle::after {
  right: -15px;
}
html[lang=ar] .dropdown-toggle::after {
  left: -15px;
}

.userDropdown {
  border: 1px solid rgb(11, 115, 127);
  padding-inline-end: 28.5px !important;
  padding: 5px 25px;
  border-radius: 7px;
  color: #0b737f !important;
}

@media (max-width: 768px) {
  .userDropdown {
    padding-inline-end: 10px !important;
    padding: 5px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userDropdown .dropdown-toggle::after {
    left: -9px;
  }
}
.dropdown-toggle.userDropdown::after {
  left: 5px;
}

.afterNone .dropdown-toggle::after {
  border: unset;
  display: none;
}

.langImg {
  width: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.containMainCarousel {
  position: relative;
  height: 300px;
  z-index: 2;
  direction: rtl;
  border-radius: 10px;
  overflow: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containMainCarousel::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carouselBg {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -2;
}

.carouselImg {
  width: 200px !important;
}

.owl-carousel .owl-item .containMainCarousel .carouselImg:nth-child(2) {
  filter: brightness(0) invert(1);
}
@media (max-width: 768px) {
  .owl-carousel .owl-item .containMainCarousel .carouselImg:nth-child(2) {
    display: none;
  }
}

.owl-carousel .owl-item .containMainCarousel .carouselImg:nth-child(3) {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .owl-carousel .owl-item .containMainCarousel .carouselImg:nth-child(3) {
    display: none;
  }
}

.owl-carousel .owl-item .containMainCarousel .carouselImg:nth-child(4) {
  width: 270px !important;
}

.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
}

.owl-carousel1 .owl-dots {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
}

.owl-carousel button.owl-dot {
  background: #fff;
  border: 1px solid #0b737f;
  border-radius: 50%;
}

.owl-carousel button.owl-dot {
  width: 10px;
  height: 10px;
}

.owl-carousel button.owl-dot.active {
  background: #0b737f;
  margin-bottom: 10px;
}

.product_box {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  transition: height 0.3s ease-in-out;
}

.fa-heart.like {
  position: absolute;
  top: 5px;
  color: #0b737f;
}
html[lang=en] .fa-heart.like {
  right: 10px;
}
html[lang=ar] .fa-heart.like {
  left: 10px;
}

.addToCartBtn {
  height: 0 !important;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.addToCartBtn a {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

.product_box:hover {
  max-height: 240px;
}

.product_box:hover .addToCartBtn {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.product_box:hover .addToCartBtn a {
  transform: translateY(0);
}

.product_img {
  width: 130px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
  margin: auto;
}

.broduct_content {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  flex-grow: 1;
  position: relative;
}

.brand {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  padding: 10px;
}

.brandImg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
.main_img {
  border-radius: 20px;
  height: 300px;
  width: calc(100% + 30px);
  margin-right: -15px;
}

.storesImg {
  width: 160px;
  -o-object-fit: contain;
     object-fit: contain;
}

.flex-b-50 {
  flex-basis: 50%;
}

.payment {
  width: 45px;
}

.footer-content {
  position: relative;
  padding-top: 20px;
}

.footer-content::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 80%;
  left: 10%;
  background-color: #0b737f;
  top: 0;
}

.social {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
}

.underline_title {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 10px;
  margin: 0 auto 20px;
  color: #0b737f;
  font-size: 18px !important;
  font-weight: bolder;
}
.underline_title::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 50%;
  bottom: 0;
  background: #0b737f;
  left: 50%;
  transform: translateX(-50%);
}

.form-control:focus {
  border-color: #0b737f !important;
}

.form-control {
  padding: 0.6rem 0.75rem;
  border: 1px solid #f3f3f3;
  font-size: inherit;
}

.form-control::-moz-placeholder {
  color: #a9a5a5;
  font-size: inherit;
}

.form-control::placeholder {
  color: #a9a5a5;
  font-size: inherit;
}

.img_gallery {
  width: 110px;
  height: 90px;
  border-radius: 10px;
  overflow: auto;
  background-color: #e5e5e5;
}

.img_gallery.transparent {
  background-color: white;
  border: 1px solid #bebebe;
}

.img_gallery.rounded_small {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin: 0 auto 30px;
  overflow: unset;
}

.img_gallery.rounded_small #imgPrev {
  border-radius: 30px;
}

.imgPrev,
#imgPrev {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 3;
  position: sticky;
  background: #e5e5e5;
}

.imgPrev[src=""],
#imgPrev[src=""] {
  display: none;
}

.pip {
  display: flex;
}

.edit_icon {
  text-align: center;
  line-height: 35px;
  width: 90%;
  height: 90%;
  font-size: 50px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bebebe;
}

.edit_icon_upBorder {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b737f;
  color: #fff;
  border: 2px solid #fff;
}

.edit_icon.border {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}

.containImgPrev {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.breadcrumb {
  background-color: unset;
  justify-content: center;
  font-weight: bolder;
}

.userDropdown .dropdown-item {
  color: inherit;
  border-bottom: unset;
  gap: 5px !important;
  padding: 5px 10px !important;
}

.numberSelect {
  border: unset;
  left: 0;
  top: 10px;
  position: absolute;
}

.contain_number_select .form-control {
  padding-inline-end: 60px;
}

.contain_number_select .select2-container {
  width: -moz-fit-content !important;
  width: fit-content !important;
  position: absolute;
  top: 29px;
  left: 7px;
  border: unset !important;
}

.contain_number_select .select2-container--default .select2-selection--single {
  border: unset !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 15px !important;
}

.containInputShape {
  position: relative;
}

.containInputShape .form-control {
  padding-inline-start: 45px;
}

.inputShape {
  width: 18px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 18px;
  position: absolute;
  top: 10px;
}
html[lang=en] .inputShape {
  left: 15px;
}
html[lang=ar] .inputShape {
  right: 15px;
}

.modal_icon {
  font-size: 100px;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: white;
  opacity: 1;
}

.input_icon {
  position: absolute;
  top: 35px;
}
html[lang=en] .input_icon {
  right: 15px;
}
html[lang=ar] .input_icon {
  left: 15px;
}

.input_icon.withoutputLabel {
  top: 8px;
  font-size: 20px;
  color: #0b737f;
}
html[lang=en] .input_icon.withoutputLabel {
  right: 10px;
}
html[lang=ar] .input_icon.withoutputLabel {
  left: 10px;
}

.input_icon.withoutputLabel.f-15 {
  font-size: 15px;
}

.iti__flag {
  background-image: url("../imgs/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("../imgs/flags.png");
  }
}
.iti {
  display: block;
}

html[lang=en] .iti__country-list {
  left: 0;
}
html[lang=ar] .iti__country-list {
  right: 0;
}

.iti__arrow {
  margin-left: unset;
  margin-inline-start: 6px;
}

.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 41px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 7px;
}

.date-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flex-50 {
  flex-basis: 49%;
}

.closeBox {
  background-color: red;
}

.containSettingImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.settingImg {
  width: 20px;
}

.cursor_pointer {
  cursor: pointer;
}

.checkBoxShape {
  background-color: #0b737f;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 40px;
  height: 23px;
  padding: 0 2px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #0b737f;
}
.checkBoxShape span {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.checkbox:checked + .checkBoxShape {
  justify-content: flex-start;
}

.main-p {
  line-height: 2;
  text-align: justify;
  color: rgb(137, 135, 135);
}

.conatinInput_icon {
  position: relative;
}

.conatinInput_icon input {
  padding-inline-end: 40px;
}

.breadcrumb-item.active {
  color: #0b737f;
}

.notification_card {
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.notification_card::before {
  position: absolute;
  content: "";
  background-color: #0b737f;
  height: 100%;
  top: 0;
  border-radius: 20px;
  width: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
html[lang=en] .notification_card::before {
  left: 0;
}
html[lang=ar] .notification_card::before {
  right: 0;
}

.notificationIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0b737f;
  font-size: 20px;
  color: #0b737f;
}

.flex-grow-1 {
  flex-grow: 1;
}

.headerIcon {
  width: 20px;
  height: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.Quantity {
  background-color: #f8f8f8;
  padding: 10px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.whiteCircle {
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

.whiteCircle.sm {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.product_card {
  border: 1px solid rgb(176, 175, 175);
  color: rgb(176, 175, 175);
  border-radius: 5px;
  min-width: 120px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_card.active {
  border-color: #0b737f;
  color: #0b737f;
}

.radInput:checked + .product_card {
  border-color: #0b737f;
  color: #0b737f;
}

.vatImg {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}

.order_card {
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.ordersIcon {
  width: 18px;
  height: 18px;
  -o-object-fit: contain;
     object-fit: contain;
}

.text_gray {
  color: #b7b7b7;
}

.page-link {
  border: unset !important;
  color: gray;
  margin: unset;
  background-color: transparent;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
}

.pagination {
  border: 1px solid #0b737f;
}

.page-item.active .page-link {
  background-color: #0b737f;
}

.page-link:hover {
  color: white;
  background-color: #0b737f;
}

.page-link:focus-within {
  box-shadow: unset;
}

.main_btn.w-50 {
  font-size: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.containMoreCard {
  transform: translateY(-100%);
  transition: all 0.5s ease-in-out;
  height: 0;
}

.containMoreCard.active {
  transform: translateY(0);
  height: -moz-fit-content;
  height: fit-content;
}

.showMore {
  transition: all 0.5s ease-in-out;
}

.showMore.active {
  transform: rotate(180deg);
}

.circleRadioShape {
  border: 1px solid gray;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 3px;
  transition: all 0.3s ease-in-out;
}

.circleRadioShape span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  display: block;
}

.inputCircleShape:checked + .circleRadioShape {
  border-color: #0b737f;
}

.inputCircleShape:checked + .circleRadioShape span {
  background-color: #0b737f;
}

.inputOrder {
  border: unset;
  border-bottom: 1px solid gray;
  margin-inline-start: 20px;
  max-width: 100px;
}

.inputOrder:focus-visible {
  border-bottom: 1px solid #0b737f;
  outline: unset;
}

.inputShape.icon {
  top: 10px;
}

.radialProgressBar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c4c4c4;
  position: relative;
}
.radialProgressBar .overlay {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  text-align: center;
}
.radialProgressBar::before {
  content: "";
  width: 85%;
  height: 85%;
  border-radius: 50%;
  left: 0;
  top: 4px;
  right: 4px;
  display: block;
  position: absolute;
  border: 6px solid #ddd;
  z-index: -1;
}

.step {
  background-color: gray;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

.stepImg {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.fit-width {
  width: -moz-fit-content;
  width: fit-content;
}

.boxWithMainBorder {
  border: 1px solid #0b737f;
  padding: 5px 25px;
  border-radius: 5px;
}

fieldset {
  display: flex;
  align-items: center;
  border-radius: 0.25rem;
  gap: 10px;
  justify-content: center;
}

/* You can style inputs directly thanks to appearance:none! */
.inputRate {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: var(--size);
  height: var(--size);
  text-align: center;
  color: #e2e2e2;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}
.inputRate::after {
  content: "★";
  line-height: var(--size);
  color: var(--primary-color);
}
.inputRate:is(:checked, :hover)::after, .inputRate:has(~ input:is(:checked, :hover))::after {
  content: "★";
  color: #0b737f;
}
.inputRate:hover ~ input::after {
  content: "★";
}

.filterImg {
  width: 60px;
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 2px 12.5px;
}

.bg_gray {
  background-color: #f5f5f5 !important;
}

.checkShape {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #0b737f;
  color: white;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkInputBox:is(:checked) + .checkShape {
  color: #0b737f;
}

.containSelect .select2-container--default .select2-selection--single {
  border-radius: 20px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  margin-inline-end: 10px;
  padding-left: 15px !important;
}

.border-bottom-main-color {
  border-bottom: 1px solid rgba(11, 115, 127, 0.2470588235);
  padding-bottom: 1rem;
}

.quntityBorder {
  border: 1px solid #0b737f;
  color: #0b737f;
  border-radius: 5px;
  padding: 3px 5px;
}

.inputsDate.none {
  display: none !important;
}

.bg_gray .select2-container .select2-selection--single {
  background-color: #f5f5f5 !important;
}

.circletransparentImg {
  padding: 14px;
  background-color: #9dc6cc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.contactImg {
  width: 100%;
  height: 100%;
}

.form-control.sm_shadow.border-0:focus {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.lgLogo {
  max-width: 140px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cartlogo {
  margin: 0 auto 20px;
  display: block;
  max-width: 150px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main_text_center {
  margin: 0 auto;
}

.sm_section {
  min-height: 300px;
}

/*  ------------------------- // loader // ------------------------- // */
.loader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  background: #0b737f;
}
.loader .logoWhite {
  max-width: 230px;
  max-height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  filter: brightness(0) invert(1);
}
.loader .animate__animated.animate__jackInTheBox {
  animation-iteration-count: infinite !important;
}

table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  flex-direction: column;
}

table th,
table td {
  padding: 0.5rem;
}

table th {
  position: relative;
  cursor: grab;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

table thead, table tbody {
  color: black;
  border-radius: 10px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 10px;
}

table thead {
  transform: translateY(-15px);
}

.button-default.xls {
  background-color: #fff;
  color: #0b737f;
  border: 1px solid #0b737f;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  width: 50%;
  font-size: 15px;
}/*# sourceMappingURL=main.css.map */